@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: url('../images/pagina_inicial.jpg') no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
}

h1 {
    padding: 100px 50px 10px 70px;
    background-color: rgba(255, 255, 255, 0.3);
}

article {
    padding: 20px 0px 0px 65px;
    font-size: 25px;
}

#c {
    padding: 0px 0px 0px 25px;
    background-color: rgba(255, 255, 255, 0.8);

}

#l {
    padding: 0px 25px 0px 0px;
    background-color: rgba(255, 255, 255, 0.8);

}